html {
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  background-color: lightseagreen;
  height: 100%;
  width: 100%;
  overflow: hidden-scroll;
}

div#body {
  border: 3px solid black;
  padding: 10px;
  padding-top: 5px;
  border-radius: 50px;
}

h1 {
  text-decoration: underline;
}

p#introText {
  font-size: 18px;
}

hr {
  width: 50%;
  height: 2px;
  background: black;
  border: black;
}

ul {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 2px;
}

li:hover {
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

input {
  padding: 5 px;
  font-size: 18px;
  border: 1px solid black;
}

div#result {
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid black;
  margin-right: 30%;
  margin-left: 30%;
}

a#home {
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  color: magenta;
  border: 1px solid black;
  background: black;
}
